.text-danger {
    color: red;
}

.swal2-styled {
    background-color: #dfa340!important;
    border-radius: 27px!important;
    width: 40%;
}

.swal2-styled:focus {
    box-shadow: none !important;
}

.mat-horizontal-content-container {
    padding: 0 0 24px 0 !important;
}
